In [1]:
import pandas as pd
from functools import reduce

## Limpar dados

In [10]:
def getDesmatamento(path):
    dados = pd.read_csv(path, encoding = "ISO-8859-1", sep=",")
    dados = dados.iloc[:, [5, 6, 8, 9]]
    dados.set_index('CodIbge', inplace = True)
    return dados

## Caminhos dos dados

In [11]:
path2011 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2011.txt'
path2012 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2012.txt'
path2013 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2013.txt'
path2014 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2014.txt'
path2015 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2015.txt'
path2016 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2016.txt'
path2017 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2017.txt'
path2018 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2018.txt'
path2019 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2019.txt'
path2020 = 'Dados/Desmatamento/DesmatamentoMunicipiosMA2020.txt'

## Carregando os dados

In [12]:
desmatamento_2011 = getDesmatamento(path2011)
desmatamento_2012 = getDesmatamento(path2012)
desmatamento_2013 = getDesmatamento(path2013)
desmatamento_2014 = getDesmatamento(path2014)
desmatamento_2015 = getDesmatamento(path2015)
desmatamento_2016 = getDesmatamento(path2016)
desmatamento_2017 = getDesmatamento(path2017)
desmatamento_2018 = getDesmatamento(path2018)
desmatamento_2019 = getDesmatamento(path2019)
desmatamento_2020 = getDesmatamento(path2020)

In [13]:
desmatamento_2020.head()

                       Municipio  AreaKm2  Desmatado2020
CodIbge
2114007                  Zé Doca     2438         2022.6
2113009          Vitorino Freire     1209         1166.3
2112902        Vitória do Mearim      736          244.3
2112852  Vila Nova dos Martírios     1196          974.8
2112803                    Viana     1176          506.9

In [14]:
lista_dados = [desmatamento_2011, desmatamento_2012, desmatamento_2013, desmatamento_2014, desmatamento_2015, desmatamento_2016, desmatamento_2017, desmatamento_2018, desmatamento_2019, desmatamento_2020]

In [15]:
desmatamento = reduce(lambda a, b: pd.merge(a, b, how = 'outer', on = ['CodIbge', "Municipio", "AreaKm2" ]), lista_dados )

In [16]:
desmatamento.to_csv("Dados_Tratados/desmatamento_2011_2020.csv")

In [17]:
desmatamento.head()

,Municipio,AreaKm2,Desmatado2011,Desmatado2012,Desmatado2013,Desmatado2014,Desmatado2015,Desmatado2016,Desmatado2017,Desmatado2018,Desmatado2019,Desmatado2020
CodIbge,,,,,,,,,,,,
2114007,Zé Doca,2438,2003.3,2005.1,2009.9,2016.0,2016.8,2019.2,2019.9,2020.5,2021.6,2022.6
2113009,Vitorino Freire,1209,1166.3,1166.3,1166.3,1166.3,1166.3,1166.3,1166.3,1166.3,1166.3,1166.3
2112902,Vitória do Mearim,736,240.1,240.5,241.9,241.9,241.9,242.1,242.8,242.8,242.9,244.3
2112852,Vila Nova dos Martírios,1196,966.7,969.1,969.5,971.4,971.7,971.9,973.0,973.7,974.3,974.8
2112803,Viana,1176,503.7,503.9,505.8,506.0,506.0,506.1,506.4,506.4,506.7,506.9