# Datraframe do PMA do estado do Maranhão

### Foram divididos em 4 dataframes:
<ol>
    <li>Área plantada</li>
    <li>Área colhida (Hectares)</li>
    <li>Quantidade produzida (Toneladas)</li>
    <li>Valor da produção (Mil Reais)</li>
</ol>

In [1]:
import pandas as pd
pd.options.display.max_columns = 999

## Variáveis gerais

In [2]:
sheet_name1 = "Área plantada (Hectares)"
sheet_name2 = "Área colhida (Hectares)"
sheet_name3 = "Quantidade produzida (Tonela..."
sheet_name4 = "Valor da produção (Mil Reais)"

## Culturas Selecionadas

In [3]:
nome_culturas = ['Total',
 'Abacaxi',
 'Algodão herbáceo (em caroço)',
 'Arroz (em casca)',
 'Cana-de-açúcar',
 'Feijão (em grão)',
 'Mandioca',
 'Milho (em grão)',
 'Soja (em grão)',
 'Sorgo (em grão)']

"""
Foi utilizado para pegar as culturas onde era produzido acidma de 500 toneladas
nome_culturas = []
for x in culturas:
    if area_plantada_2020[x].describe().max() > 500:
        nome_culturas.append(x)    
"""

'\nFoi utilizado para pegar as culturas onde era produzido acidma de 500 toneladas\nnome_culturas = []\nfor x in culturas:\n    if area_plantada_2020[x].describe().max() > 500:\n        nome_culturas.append(x)    \n'

## Funções gerais

In [4]:
def limparDados(dados:pd.DataFrame)->None:
    dados.rename(columns={"Unnamed: 0": "Cidades", "Abacaxi*": "Abacaxi"}, inplace=True)
    for x,y in enumerate(dados.Cidades):
        dados.loc[x,"Cidades"] = y.replace(" (MA)", "")
    dados.replace("-", 0, regex=True, inplace=True)
    dados.replace("...", 0, inplace=True)
    dados.set_index('Cidades', inplace = True)
    dados.apply(pd.to_numeric)
    dados = dados.loc[:, nome_culturas]

def carregarDados(pathAno:str)->tuple:
    # Carregando os dados
    area_plantada = pd.read_excel(pathAno, header=4, skipfooter=1, sheet_name= sheet_name1)
    area_colhida = pd.read_excel(pathAno, header=4, skipfooter=1, sheet_name= sheet_name1)
    quantidade_produzida = pd.read_excel(pathAno, header=4, skipfooter=1, sheet_name= sheet_name1)
    valor_producao = pd.read_excel(pathAno, header=4, skipfooter=1, sheet_name= sheet_name1)
    
    #Limpando os dados
    limparDados(area_plantada)
    limparDados(area_colhida)
    limparDados(quantidade_produzida)
    limparDados(valor_producao)
    
    area_plantada = area_plantada.loc[:, nome_culturas]
    area_colhida = area_colhida.loc[:, nome_culturas]
    quantidade_produzida = quantidade_produzida.loc[:, nome_culturas]
    valor_producao = valor_producao.loc[:, nome_culturas]
    
    #Retorando os dados
    return area_plantada, area_colhida, quantidade_produzida, valor_producao

## Dados 2020

In [5]:
path2020 = 'Dados/pma/2020.xlsx'
area_plantada_2020, area_colhida_2020, quantidade_produzida_2020, valor_producao_2020 = carregarDados(path2020)

## Dados 2019

In [6]:
path2019 = 'Dados/pma/2019.xlsx'
area_plantada_2019, area_colhida_2019, quantidade_produzida_2019, valor_producao_2019 = carregarDados(path2019)

## Dados 2018

In [7]:
path2018 = 'Dados/pma/2018.xlsx'
area_plantada_2018, area_colhida_2018, quantidade_produzida_2018, valor_producao_2018 = carregarDados(path2018)

## Dados 2017

In [8]:
path2017 = 'Dados/pma/2017.xlsx'
area_plantada_2017, area_colhida_2017, quantidade_produzida_2017, valor_producao_2017 = carregarDados(path2017)

## Dados 2016

In [9]:
path2016 = 'Dados/pma/2016.xlsx'
area_plantada_2016, area_colhida_2016, quantidade_produzida_2016, valor_producao_2016 = carregarDados(path2016)

## Dados 2015

In [10]:
path2015 = 'Dados/pma/2015.xlsx'
area_plantada_2015, area_colhida_2015, quantidade_produzida_2015, valor_producao_2015 = carregarDados(path2015)

## Dados 2014

In [11]:
path2014 = 'Dados/pma/2014.xlsx'
area_plantada_2014, area_colhida_2014, quantidade_produzida_2014, valor_producao_2014 = carregarDados(path2014)

## Dados 2013

In [12]:
path2013 = 'Dados/pma/2013.xlsx'
area_plantada_2013, area_colhida_2013, quantidade_produzida_2013, valor_producao_2013 = carregarDados(path2013)

## Dados 2012

In [13]:
path2012 = 'Dados/pma/2012.xlsx'
area_plantada_2012, area_colhida_2012, quantidade_produzida_2012, valor_producao_2012 = carregarDados(path2012)

## Dados 2011

In [14]:
path2011 = 'Dados/pma/2011.xlsx'
area_plantada_2011, area_colhida_2011, quantidade_produzida_2011, valor_producao_2011 = carregarDados(path2011)

## Exemplo de saída

In [15]:
area_plantada_2011.head()

,Total,Abacaxi,Algodão herbáceo (em caroço),Arroz (em casca),Cana-de-açúcar,Feijão (em grão),Mandioca,Milho (em grão),Soja (em grão),Sorgo (em grão)
Cidades,,,,,,,,,,
Açailândia,4131,0,0,1100,0,378,40,2400,210,0
Afonso Cunha,2323,0,0,608,14,114,115,508,960,0
Água Doce do Maranhão,3626,0,0,0,2,800,1834,960,0,0
Alcântara,2030,0,0,459,0,180,1214,159,0,0
Aldeias Altas,12372,0,0,2525,7257,408,400,1767,0,0

## Todos os dados

In [29]:
area_plantada_gerais = [area_plantada_2011, area_plantada_2012, area_plantada_2013, area_plantada_2014, area_plantada_2015, area_plantada_2016, area_plantada_2017, area_plantada_2018, area_plantada_2019, area_plantada_2020]
area_colhida_gerais = [area_colhida_2011, area_colhida_2012, area_colhida_2013, area_colhida_2014, area_colhida_2015, area_colhida_2016, area_colhida_2017, area_colhida_2018, area_colhida_2019, area_colhida_2020]
quantidade_produzida_gerais = [quantidade_produzida_2012, quantidade_produzida_2013, quantidade_produzida_2014, quantidade_produzida_2015, quantidade_produzida_2016, quantidade_produzida_2017, quantidade_produzida_2018, quantidade_produzida_2019, quantidade_produzida_2020]
valor_producao_gerais = [valor_producao_2011, valor_producao_2012, valor_producao_2013, valor_producao_2014, valor_producao_2015, valor_producao_2016, valor_producao_2017, valor_producao_2018, valor_producao_2019, valor_producao_2020]
anos = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [19]:
area_plantada_2011.head()

,Total,Abacaxi,Algodão herbáceo (em caroço),Arroz (em casca),Cana-de-açúcar,Feijão (em grão),Mandioca,Milho (em grão),Soja (em grão),Sorgo (em grão)
Cidades,,,,,,,,,,
Açailândia,4131,0,0,1100,0,378,40,2400,210,0
Afonso Cunha,2323,0,0,608,14,114,115,508,960,0
Água Doce do Maranhão,3626,0,0,0,2,800,1834,960,0,0
Alcântara,2030,0,0,459,0,180,1214,159,0,0
Aldeias Altas,12372,0,0,2525,7257,408,400,1767,0,0

## Agrupando dados por tipo

### Área Plantada

In [22]:
area_plantada_set_total = {f'total_{anos[x]}': area_plantada_gerais[x]['Total'] for x in range(len(area_plantada_gerais))}
area_plantada_set_abacaxi = {f'Abacaxi_{anos[x]}': area_plantada_gerais[x]['Abacaxi'] for x in range(len(area_plantada_gerais))}
area_plantada_set_algodao = {f'Algodão_{anos[x]}': area_plantada_gerais[x]['Algodão herbáceo (em caroço)'] for x in range(len(area_plantada_gerais))}
area_plantada_set_arroz = {f'Arroz_{anos[x]}': area_plantada_gerais[x]['Arroz (em casca)'] for x in range(len(area_plantada_gerais))}
area_plantada_set_cana = {f'CanaDeAcucar_{anos[x]}': area_plantada_gerais[x]['Cana-de-açúcar'] for x in range(len(area_plantada_gerais))}
area_plantada_set_feijao = {f'feijao_{anos[x]}': area_plantada_gerais[x]['Feijão (em grão)'] for x in range(len(area_plantada_gerais))}
area_plantada_set_mandioca = {f'mandioca_{anos[x]}': area_plantada_gerais[x]['Mandioca'] for x in range(len(area_plantada_gerais))}
area_plantada_set_milho = {f'milho_{anos[x]}': area_plantada_gerais[x]['Milho (em grão)'] for x in range(len(area_plantada_gerais))}
area_plantada_set_soja = {f'soja_{anos[x]}': area_plantada_gerais[x]['Soja (em grão)'] for x in range(len(area_plantada_gerais))}
area_plantada_set_sorgo = {f'sorgo_{anos[x]}': area_plantada_gerais[x]['Sorgo (em grão)'] for x in range(len(area_plantada_gerais))}

In [25]:
area_plantada_total = pd.DataFrame(area_plantada_set_total).to_csv("Dados_Tratados/area_plantada_total.csv")
area_plantada_abacaxi = pd.DataFrame(area_plantada_set_abacaxi).to_csv("Dados_Tratados/area_plantada_abacaxi.csv")
area_plantada_algodao = pd.DataFrame(area_plantada_set_algodao).to_csv("Dados_Tratados/area_plantada_algodao.csv")
area_plantada_arroz = pd.DataFrame(area_plantada_set_arroz).to_csv("Dados_Tratados/area_plantada_arroz.csv")
area_plantada_cana = pd.DataFrame(area_plantada_set_cana).to_csv("Dados_Tratados/area_plantada_cana.csv")
area_plantada_feijao = pd.DataFrame(area_plantada_set_feijao).to_csv("Dados_Tratados/area_plantada_feijao.csv")
area_plantada_mandioca = pd.DataFrame(area_plantada_set_mandioca).to_csv("Dados_Tratados/area_plantada_mandioca.csv")
area_plantada_milho = pd.DataFrame(area_plantada_set_milho).to_csv("Dados_Tratados/area_plantada_milho.csv")
area_plantada_soja = pd.DataFrame(area_plantada_set_soja).to_csv("Dados_Tratados/area_plantada_soja.csv")
area_plantada_sorgo = pd.DataFrame(area_plantada_set_sorgo).to_csv("Dados_Tratados/area_plantada_sorgo.csv")

## Área colhida

In [26]:
area_colhida_set_total = {f'total_{anos[x]}': area_colhida_gerais[x]['Total'] for x in range(len(area_colhida_gerais))}
area_colhida_set_abacaxi = {f'Abacaxi_{anos[x]}': area_colhida_gerais[x]['Abacaxi'] for x in range(len(area_colhida_gerais))}
area_colhida_set_algodao = {f'Algodão_{anos[x]}': area_colhida_gerais[x]['Algodão herbáceo (em caroço)'] for x in range(len(area_colhida_gerais))}
area_colhida_set_arroz = {f'Arroz_{anos[x]}': area_colhida_gerais[x]['Arroz (em casca)'] for x in range(len(area_colhida_gerais))}
area_colhida_set_cana = {f'CanaDeAcucar_{anos[x]}': area_colhida_gerais[x]['Cana-de-açúcar'] for x in range(len(area_colhida_gerais))}
area_colhida_set_feijao = {f'feijao_{anos[x]}': area_colhida_gerais[x]['Feijão (em grão)'] for x in range(len(area_colhida_gerais))}
area_colhida_set_mandioca = {f'mandioca_{anos[x]}': area_colhida_gerais[x]['Mandioca'] for x in range(len(area_colhida_gerais))}
area_colhida_set_milho = {f'milho_{anos[x]}': area_colhida_gerais[x]['Milho (em grão)'] for x in range(len(area_colhida_gerais))}
area_colhida_set_soja = {f'soja_{anos[x]}': area_colhida_gerais[x]['Soja (em grão)'] for x in range(len(area_colhida_gerais))}
area_colhida_set_sorgo = {f'sorgo_{anos[x]}': area_colhida_gerais[x]['Sorgo (em grão)'] for x in range(len(area_colhida_gerais))}

In [27]:
area_colhida_total = pd.DataFrame(area_colhida_set_total).to_csv("Dados_Tratados/area_colhida_total.csv")
area_colhida_abacaxi = pd.DataFrame(area_colhida_set_abacaxi).to_csv("Dados_Tratados/area_colhida_abacaxi.csv")
area_colhida_algodao = pd.DataFrame(area_colhida_set_algodao).to_csv("Dados_Tratados/area_colhida_algodao.csv")
area_colhida_arroz = pd.DataFrame(area_colhida_set_arroz).to_csv("Dados_Tratados/area_colhida_arroz.csv")
area_colhida_cana = pd.DataFrame(area_colhida_set_cana).to_csv("Dados_Tratados/area_colhida_cana.csv")
area_colhida_feijao = pd.DataFrame(area_colhida_set_feijao).to_csv("Dados_Tratados/area_colhida_feijao.csv")
area_colhida_mandioca = pd.DataFrame(area_colhida_set_mandioca).to_csv("Dados_Tratados/area_colhida_mandioca.csv")
area_colhida_milho = pd.DataFrame(area_colhida_set_milho).to_csv("Dados_Tratados/area_colhida_milho.csv")
area_colhida_soja = pd.DataFrame(area_colhida_set_soja).to_csv("Dados_Tratados/area_colhida_soja.csv")
area_colhida_sorgo = pd.DataFrame(area_colhida_set_sorgo).to_csv("Dados_Tratados/area_colhida_sorgo.csv")

## Área produzida

In [30]:
quantidade_produzida_set_total = {f'total_{anos[x]}': quantidade_produzida_gerais[x]['Total'] for x in range(len(quantidade_produzida_gerais))}
quantidade_produzida_set_abacaxi = {f'Abacaxi_{anos[x]}': quantidade_produzida_gerais[x]['Abacaxi'] for x in range(len(quantidade_produzida_gerais))}
quantidade_produzida_set_algodao = {f'Algodão_{anos[x]}': quantidade_produzida_gerais[x]['Algodão herbáceo (em caroço)'] for x in range(len(quantidade_produzida_gerais))}
quantidade_produzida_set_arroz = {f'Arroz_{anos[x]}': quantidade_produzida_gerais[x]['Arroz (em casca)'] for x in range(len(quantidade_produzida_gerais))}
quantidade_produzida_set_cana = {f'CanaDeAcucar_{anos[x]}': quantidade_produzida_gerais[x]['Cana-de-açúcar'] for x in range(len(quantidade_produzida_gerais))}
quantidade_produzida_set_feijao = {f'feijao_{anos[x]}': quantidade_produzida_gerais[x]['Feijão (em grão)'] for x in range(len(quantidade_produzida_gerais))}
quantidade_produzida_set_mandioca = {f'mandioca_{anos[x]}': quantidade_produzida_gerais[x]['Mandioca'] for x in range(len(quantidade_produzida_gerais))}
quantidade_produzida_set_milho = {f'milho_{anos[x]}': quantidade_produzida_gerais[x]['Milho (em grão)'] for x in range(len(quantidade_produzida_gerais))}
quantidade_produzida_set_soja = {f'soja_{anos[x]}': quantidade_produzida_gerais[x]['Soja (em grão)'] for x in range(len(quantidade_produzida_gerais))}
quantidade_produzida_set_sorgo = {f'sorgo_{anos[x]}': quantidade_produzida_gerais[x]['Sorgo (em grão)'] for x in range(len(quantidade_produzida_gerais))}

In [31]:

quantidade_produzida_total = pd.DataFrame(quantidade_produzida_set_total).to_csv("Dados_Tratados/quantidade_produzida_total.csv")
quantidade_produzida_abacaxi = pd.DataFrame(quantidade_produzida_set_abacaxi).to_csv("Dados_Tratados/quantidade_produzida_abacaxi.csv")
quantidade_produzida_algodao = pd.DataFrame(quantidade_produzida_set_algodao).to_csv("Dados_Tratados/quantidade_produzida_algodao.csv")
quantidade_produzida_arroz = pd.DataFrame(quantidade_produzida_set_arroz).to_csv("Dados_Tratados/quantidade_produzida_arroz.csv")
quantidade_produzida_cana = pd.DataFrame(quantidade_produzida_set_cana).to_csv("Dados_Tratados/quantidade_produzida_cana.csv")
quantidade_produzida_feijao = pd.DataFrame(quantidade_produzida_set_feijao).to_csv("Dados_Tratados/quantidade_produzida_feijao.csv")
quantidade_produzida_mandioca = pd.DataFrame(quantidade_produzida_set_mandioca).to_csv("Dados_Tratados/quantidade_produzida_mandioca.csv")
quantidade_produzida_milho = pd.DataFrame(quantidade_produzida_set_milho).to_csv("Dados_Tratados/quantidade_produzida_milho.csv")
quantidade_produzida_soja = pd.DataFrame(quantidade_produzida_set_soja).to_csv("Dados_Tratados/quantidade_produzida_soja.csv")
quantidade_produzida_sorgo = pd.DataFrame(quantidade_produzida_set_sorgo).to_csv("Dados_Tratados/quantidade_produzida_sorgo.csv")

## Valor total

In [33]:
valor_producao_set_total = {f'total_{anos[x]}': valor_producao_gerais[x]['Total'] for x in range(len(valor_producao_gerais))}
valor_producao_set_abacaxi = {f'Abacaxi_{anos[x]}': valor_producao_gerais[x]['Abacaxi'] for x in range(len(valor_producao_gerais))}
valor_producao_set_algodao = {f'Algodão_{anos[x]}': valor_producao_gerais[x]['Algodão herbáceo (em caroço)'] for x in range(len(valor_producao_gerais))}
valor_producao_set_arroz = {f'Arroz_{anos[x]}': valor_producao_gerais[x]['Arroz (em casca)'] for x in range(len(valor_producao_gerais))}
valor_producao_set_cana = {f'CanaDeAcucar_{anos[x]}': valor_producao_gerais[x]['Cana-de-açúcar'] for x in range(len(valor_producao_gerais))}
valor_producao_set_feijao = {f'feijao_{anos[x]}': valor_producao_gerais[x]['Feijão (em grão)'] for x in range(len(valor_producao_gerais))}
valor_producao_set_mandioca = {f'mandioca_{anos[x]}': valor_producao_gerais[x]['Mandioca'] for x in range(len(valor_producao_gerais))}
valor_producao_set_milho = {f'milho_{anos[x]}': valor_producao_gerais[x]['Milho (em grão)'] for x in range(len(valor_producao_gerais))}
valor_producao_set_soja = {f'soja_{anos[x]}': valor_producao_gerais[x]['Soja (em grão)'] for x in range(len(valor_producao_gerais))}
valor_producao_set_sorgo = {f'sorgo_{anos[x]}': valor_producao_gerais[x]['Sorgo (em grão)'] for x in range(len(valor_producao_gerais))}

In [34]:

valor_producao_total = pd.DataFrame(valor_producao_set_total).to_csv("Dados_Tratados/valor_producao_total.csv")
valor_producao_abacaxi = pd.DataFrame(valor_producao_set_abacaxi).to_csv("Dados_Tratados/valor_producao_abacaxi.csv")
valor_producao_algodao = pd.DataFrame(valor_producao_set_algodao).to_csv("Dados_Tratados/valor_producao_algodao.csv")
valor_producao_arroz = pd.DataFrame(valor_producao_set_arroz).to_csv("Dados_Tratados/valor_producao_arroz.csv")
valor_producao_cana = pd.DataFrame(valor_producao_set_cana).to_csv("Dados_Tratados/valor_producao_cana.csv")
valor_producao_feijao = pd.DataFrame(valor_producao_set_feijao).to_csv("Dados_Tratados/valor_producao_feijao.csv")
valor_producao_mandioca = pd.DataFrame(valor_producao_set_mandioca).to_csv("Dados_Tratados/valor_producao_mandioca.csv")
valor_producao_milho = pd.DataFrame(valor_producao_set_milho).to_csv("Dados_Tratados/valor_producao_milho.csv")
valor_producao_soja = pd.DataFrame(valor_producao_set_soja).to_csv("Dados_Tratados/valor_producao_soja.csv")
valor_producao_sorgo = pd.DataFrame(valor_producao_set_sorgo).to_csv("Dados_Tratados/quantidade_produzida_sorgo.csv")