# Datraframe do PMA do estado do Maranhão

### Foram divididos em 4 dataframes:
<ol>
    <li>Área plantada</li>
    <li>Área colhida (Hectares)</li>
    <li>Quantidade produzida (Toneladas)</li>
    <li>Valor da produção (Mil Reais)</li>
</ol>

In [1]:
import pandas as pd

## Variáveis gerais

In [2]:
sheet_name1 = "Área plantada (Hectares)"
sheet_name2 = "Área colhida (Hectares)"
sheet_name3 = "Quantidade produzida (Tonela..."
sheet_name4 = "Valor da produção (Mil Reais)"

## Funções gerais

In [3]:
def limparDados(dados:pd.DataFrame)->None:
    dados.rename(columns={"Unnamed: 0": "Cidades"}, inplace=True)
    for x,y in enumerate(dados.Cidades):
        dados.loc[x,"Cidades"] = y.replace(" (MA)", "")
    dados.replace("-", 0, regex=True, inplace=True)
    dados.replace("...", 0, inplace=True)
    dados.set_index('Cidades', inplace = True)
    dados.apply(pd.to_numeric)

def carregarDados(pathAno:str)->tuple:
    # Carregando os dados
    area_plantada = pd.read_excel(pathAno, header=4, skipfooter=1, sheet_name= sheet_name1)
    area_colhida = pd.read_excel(pathAno, header=4, skipfooter=1, sheet_name= sheet_name1)
    quantidade_produzida = pd.read_excel(pathAno, header=4, skipfooter=1, sheet_name= sheet_name1)
    valor_producao = pd.read_excel(pathAno, header=4, skipfooter=1, sheet_name= sheet_name1)
    
    #Limpando os dados
    limparDados(area_plantada)
    limparDados(area_colhida)
    limparDados(quantidade_produzida)
    limparDados(valor_producao)
    
    #Retorando os dados
    return area_plantada, area_colhida, quantidade_produzida, valor_producao

## Dados 2020

In [4]:
path2020 = 'Dados/pma/2020.xlsx'
area_plantada_2020, area_colhida_2020, quantidade_produzida_2020, valor_producao_2020 = carregarDados(path2020)

## Dados 2019

In [5]:
path2019 = 'Dados/pma/2019.xlsx'
area_plantada_2019, area_colhida_2019, quantidade_produzida_2019, valor_producao_2019 = carregarDados(path2019)

## Dados 2018

In [6]:
path2018 = 'Dados/pma/2018.xlsx'
area_plantada_2018, area_colhida_2018, quantidade_produzida_2018, valor_producao_2018 = carregarDados(path2018)

## Dados 2017

In [7]:
path2017 = 'Dados/pma/2017.xlsx'
area_plantada_2017, area_colhida_2017, quantidade_produzida_2017, valor_producao_2017 = carregarDados(path2017)

## Dados 2016

In [8]:
path2016 = 'Dados/pma/2016.xlsx'
area_plantada_2016, area_colhida_2016, quantidade_produzida_2016, valor_producao_2016 = carregarDados(path2016)

## Dados 2015

In [9]:
path2015 = 'Dados/pma/2015.xlsx'
area_plantada_2015, area_colhida_2015, quantidade_produzida_2015, valor_producao_2015 = carregarDados(path2015)

## Dados 2014

In [10]:
path2014 = 'Dados/pma/2014.xlsx'
area_plantada_2014, area_colhida_2014, quantidade_produzida_2014, valor_producao_2014 = carregarDados(path2014)

## Dados 2013

In [11]:
path2013 = 'Dados/pma/2013.xlsx'
area_plantada_2013, area_colhida_2013, quantidade_produzida_2013, valor_producao_2013 = carregarDados(path2013)

## Dados 2012

In [12]:
path2012 = 'Dados/pma/2012.xlsx'
area_plantada_2012, area_colhida_2012, quantidade_produzida_2012, valor_producao_2012 = carregarDados(path2012)

## Dados 2011

In [13]:
path2011 = 'Dados/pma/2011.xlsx'
area_plantada_2011, area_colhida_2011, quantidade_produzida_2011, valor_producao_2011 = carregarDados(path2011)

## Exemplo de Saída

In [14]:
area_plantada_2020.head()

,Total,Abacaxi*,Alfafa fenada,Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),Batata-doce,Batata-inglesa,...,Mandioca,Melancia,Melão,Milho (em grão),Rami (fibra),Soja (em grão),Sorgo (em grão),Tomate,Trigo (em grão),Triticale (em grão)
Cidades,,,,,,,,,,,,,,,,,,,,,
Açailândia,61287,4,0,0,0,6,99,0,0,0,...,53,12,0,7737,0,53179,0,15,0,0
Afonso Cunha,7992,0,0,0,0,0,210,0,0,0,...,40,3,0,880,0,6795,0,0,0,0
Água Doce do Maranhão,835,0,0,0,0,0,0,0,0,0,...,330,0,0,470,0,0,0,0,0,0
Alcântara,963,0,0,0,0,0,161,0,0,0,...,588,0,0,113,0,0,0,0,0,0
Aldeias Altas,9221,0,0,0,0,0,970,0,0,0,...,155,6,0,800,0,0,0,0,0,0

In [15]:
# Exemplo para o valor total
area_plantada_2020.iloc[0, 2:].sum()

61283